@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Creepster&family=Permanent+Marker&display=swap');

/* FONTES */

/* GERAL */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(../Imagens/Fundo_Login.png);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    border: solid px white;
    border-radius: 15px;
    background-color: white;
    color: black;
    margin: auto;
    padding: 30vh;
    max-width: 900px;
    height: 100vh;
    background-image: url(../Imagens/—Slidesdocs—a\ horrível\ viscosidade\ do\ fundo.png.jpg);
    background-repeat: no-repeat;
    border-image: url(../Imagens/—Slidesdocs—a\ horrível\ viscosidade\ do\ fundo.png.jpg);
    font-family: "Creepster";
}


input {
    height: 5vh;
    width:  20vw;
    font-family: "Creepster";
}

.icon {
    width: 40px;
}

.enviar {
    margin: 30px 0px 20px 0px;
}

.novo {
    font-size: 20px;
}

a {
    color: white;
    text-decoration: none;
}

header {
    background-color: red;
}

/* CABEÇALHO */

.cabeçalho {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 40px;
    font-family: "Creepster";
}

.cabeçalho:hover {
    text-decoration: underline;
}
