@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

header {
    background-color: white;
    display: flex;
    width: 105%;
}


img {
    height: 100px;
}

.pelas {
    height: 450px;
}

main {
    display: flex;
}


h2 {
    margin: 20px 0px 0px 30px;
    display: block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

p {
    margin: 10px 0px 0px 30px;
    max-width: 500px;
}

.começo {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 800;
    font-size: 1.2rem ;
}

.butao {
    border: solid 5px red;
    background-color: black;
    border-radius: 15px;
    padding: 30px;
    color: white;
    margin: 20px;
}

.preço {
    font-size: 70px;
    color: white;
    margin: 20px;
    margin-bottom: 80px;
}

.cabesalho {
    color: black;
    border: solid 5px black;
    margin: 30px;
    border-radius: 10px;
    padding: 20px;
}

.descriçao {
    display: flex;
}

.pagina {
    height: 200px;
    margin: 40px 0px 0px 30px;
}

.membro {
    margin: 60px 20px 0px 10px;
    font-family:"Shadows Into Light" ;
    color: red;
}

.principal {
    display: flex;
    justify-content: left;
    width: 100vw;
    margin: 30px;
}

.compra {
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.propaganda1 {
    display: flex;
    justify-content: right;
    margin: 30px;
    margin-right: 100px;
}

.propaganda2 {
    display: flex;
    justify-content: right;
    margin: 30px;
    margin-right: 100px;
}

.imgPropaganda {
    height: 150px;
}

.legenda {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    max-width: 100px;
}

.aaaaaa {
    display: inline-block;
    margin-left: 1000px;
}